
/*
 *	Backend Styles
 *
*/

.wptreehouse-badges-plugin .postbox img.gravatar {
	max-width: 100%;
}

.wptreehouse-badges-plugin .postbox .inside {
	display: table
}

.postbox .wptreehouse-badges > li {
	float: left; 
	margin: 5px; 
	text-align: center; 
	height: 220px; 
	width: 120px;
	overflow: hidden;
}           

.postbox .wptreehouse-badges li li {
	margin: 2px 0; 
	padding: 0;
}

.postbox .wptreehouse-badges img {
	float: left;
	width: 100%; 
	margin-bottom: 5px;
}           

.postbox .wptreehouse-project-name a {
	font-size: .8em; 
	text-decoration: none; 
	line-height: .5em
}

.postbox .wptreehouse-badges-and-points li {
	padding: 5px 10px; 
	background: #474747; 
	color: #ddd; 
	border-radius: 20px; 
	font-size: 1.2em; 
	float: left;
}  

.postbox .wptreehouse-badges-and-points li:first-child {
	margin-right: 5px
}   

.postbox .wptreehouse-badges-and-points strong {
	color: #92ae57;
}                   


/*
 *	Frontend Styles
 *
*/

.wptreehouse-badges.frontend a,
.widget-area .widget .wptreehouse-badges.frontend a {	
	color: #999;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: .25px;
	text-decoration: none;
}

.wptreehouse-badges.frontend a:hover,
.widget-area .widget .wptreehouse-badges.frontend a:hover {	
	color: #ddd;	
}

.wptreehouse-badges,
.widget-area .widget .wptreehouse-badges {
	display: table;
}

.wptreehouse-badges li,
.widget-area .wptreehouse-badges li {
	float: left;
	width: 100px;
	margin: 0 5px 5px;
	padding: 10px 0 0;
	position: relative;	
	list-style: none;
}

.wptreehouse-badges .wptreehouse-badge img {
	width: 100%;
	border: none;
	box-shadow: 0 0 0 0;
}

.wptreehouse-badges .wptreehouse-badge-info {	
	display: none;
	background: #3d444b;
	border-radius: 4px;	
	color: #ededed;
	padding: 14px;
	width: 120px;	
	position: absolute;
	z-index: 100;
	left: -22px;
	bottom: 119px;
	transition: bottom ease-out .5s;
	-webkit-transition: bottom ease-out .5s; 
}

.wptreehouse-badges li:hover .wptreehouse-badge-info {
	bottom: 129px;
	transition: bottom ease-out .5s;
	-webkit-transition: bottom ease-out .5s; 
}

.wptreehouse-badges .wptreehouse-badge-info .wptreehouse-tooltip.bottom {
	background: url(images/tooltip-arrow.png) no-repeat 0 0;
	display: block;
	position: absolute;
	width: 26px;
	height: 13px;
	bottom: -8px;
	left: 59px;
	z-index: 99;
}

.wptreehouse-badge-info p.wptreehouse-badge-name,
.widget-area .widget .wptreehouse-badge-info p.wptreehouse-badge-name {
	font-size: 14px;
	line-height: 16px;
	margin:  0 0 8px;	
}

.wptreehouse-badge-info .wptreehouse-badge-name a,
.widget-area .widget .wptreehouse-badge-info .wptreehouse-badge-name a {
	color: #fff; 
	text-shadow: 0 0 1px #000;
}

.wptreehouse-badge-info .wptreehouse-badge-name a:hover,
.widget-area .widget .wptreehouse-badge-info .wptreehouse-badge-name a:hover {
	color: #fff
}

.wptreehouse-badge-info p.wptreehouse-badge-project,
.widget-area .widget .wptreehouse-badge-info p.wptreehouse-badge-project {
	color: #edeff0;
	font-size: 11px;
	line-height: 14px;
	margin: 0;	
}

.wptreehouse-badge-info .wptreehouse-logo,
.widget-area .widget .wptreehouse-badge-info .wptreehouse-logo {
	display: block;
	width: 80px;
	padding: 20px 0 0;
}

.treehouse-badge-info .treehouse-logo img,
.widget-area .widget .treehouse-badge-info .treehouse-logo img {
	display: block;
} 

img.wptreehouse-affiliate {
	width: 100%;
}